.video-player {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.video-player video{
    width: 90%;
    max-width: 900px;
    height: 90%;
    border: 4px solid #fff;
}

.video-player.hide {
    display: none;
}

.close-button {
    position: fixed;
    top: 5px;
    right: 10px;
}

.close-button button {
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: inherit;
}

@media (max-width: 1000px) {
  .close-button {
      top: 2px;
      right: 2px;
  }
  .close-button button {
    font-size: 25px;
  }

}

@media (max-width: 640px) {
  .close-button {
      top: 0;
      right: 0;
  }
}