.faerbanka {
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.faerbanka-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.faerbanka-left {
    flex-basis: 70%;
    position: relative;
}

.faerbanka-right {
    flex-basis: 25%;
    color:aliceblue;
}

.faerbank-about-img {
    padding-bottom: 20px;
}

.faerbanka-left ul {
    padding: 20px;
}

.faerbanka-left ul li{
    padding: 5px 0;
}

@media (max-width: 800px) {
    .faerbanka-left h3 {
        font-size: 14px;
    }
    .faerbanka-left ul {
        font-size: 12px;
    }
    .faerbanka-about {
      flex-direction: column;
    }

}