.events {
    margin: 30px auto 80px ;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img{
    width: 23%;
    border-radius: 10px;
    cursor: pointer;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
    .gallery {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .gallery img{
      width: 48%;
      margin-bottom: 25px;
    }
}

