.ourheroes {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.ourheroes-left {
    flex-basis: 40%;
    position: relative;
}

.ourheroes-right {
    flex-basis: 56%;
    /* color:aliceblue; */
}

.ourheroes-img {
    width: 100%;
    border-radius: 10px;
}

.ourheroes h3 {
    font-weight: 600;
    font-size: 16px;
}

.ourheroes h2 {
    font-weight: 600;
    font-size: 32px;
    margin: 10px 0;
    max-width: 600px;
}

.ourheroes p {
    margin-bottom: 15px;
}

@media (max-width: 940px) {
  .ourheroes {
    flex-direction: column;
  }
  .ourheroes-left {
    width: 100%;
    margin: 20px;
    /* order: 2; */
  }
 
}