nav{
    width: 100%;
    /* background-color: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    padding-top: 10px;
    width: 80px;
}
nav ul {
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    /* display: flex;
    justify-content: space-between; */
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
    font-size: 16px;
}

.menu-item {
    padding: 13px 20px;
    background-image: linear-gradient(17deg,#65623c, #141617);
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    background-image: linear-gradient(170deg,#69c166, #141617);
}

.blur {
    backdrop-filter: blur(8px);
}

.left-arrow {
    /* font-size: 16px; */
    margin: 0 5px; 
    color: olive;
}

.btn:hover {
    background-color: olive;
    color: white;
    border: 2px solid white;
}

.btn:hover .left-arrow{
  color: white;
}
.burger-menu {
    display: none;
}
.hide-mobile-menu {
   right: -200px;
}

@media (max-width: 1300px) {
  .menu-item {
    padding: 8px 18px;
  }
  .logo {
    width: 60px;
  }
  nav ul li {
    margin: 2px 5px;
    font-size: 14px;
  }

}

@media (max-width: 945px) {
   nav {
    padding: 2px 0;
   }
   nav ul {
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: olive;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
    border-radius: 0;
   }
   nav ul li{
    display: block;
    margin: 25px 40px;

   }
   .menu-item { 
      background: inherit;
   }
   .menu-item:hover {
      background: inherit;
      color: #e2e2e2;
   }
   .burger-menu {
    display: block;
    cursor: pointer;
   }
}

