
:root {
  --background: #fff;
  --foreground: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--background); */
  background-image: linear-gradient(130deg,#000 50%, #061c05);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  /* background-image: linear-gradient(to right bottom, #1d2b06, #061c05, #000); */
  color:#fff;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: #fff ;
  color: #212121;
  padding: 13px 25px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid olive;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.dark-btn {
  background-image: linear-gradient(17deg,#65623c, #141617);
  color: white;
}

/* media query */
@media (max-width: 1300px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    padding: 8px 18px;
  }
}