.images {
    position: fixed;
    top: 50px;
    left: 0;

    display: flex;
    align-items: center;
     gap: 5px;
     width: 90%;
     /* overflow: auto; */
}

.left-part {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    flex-basis: 25%;
    gap: 5px;
    max-height: 90vh;
    padding-left: 50px;
    overflow-y: scroll
}

.left-part::-webkit-scrollbar {
  width: 0;
}

.right-part {
    flex-basis: 75%;
    position:relative;
    /* width: 100%; */
    width: 100vw;
    height: 85vh;
}

/* @media (max-height: 800px) {
  .images {
     gap: 15px;
  }
} */

@media (max-width: 700px) {
  .images {
     gap: 15px;
  }
  .left-part {
    flex-basis: 35%;
  }
  .right-part {
    flex-basis: 65%;
  }
}

@media (max-width: 600px) {
  .left-part {
    flex-basis: 40%;
  }
  .right-part {
    flex-basis: 60%;
  }
}
