.testimonials {
    margin: 30px auto 80px ;
    padding: 0 80px;
    position: relative;
}

.next-btn, .prev-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    cursor: pointer;
    color: white;
    font-size: 32px;
}

.prev-btn {
    right: auto;
    left: 0;
}

.slider {
    overflow: hidden;
    color: white;
}

.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}

.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide {
    box-shadow: 00 20px rgba(0,0,0,0.05);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
    background: white;
}

.slide img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid rgb(145, 145, 7);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.user-info h3{
    color: rgb(145, 145, 7);
}
 
@media (max-width: 900px) {
    .testimonials {
        padding: 0 40px;
    }

    .testimonials ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }

}

@media (max-width: 600px) {
  .user-info {
    display: block;
    margin-bottom: 10px; 
    font-size: 12px;
  }
  .user-info h3{
    font-size: 16px;
  }
  .slider p{
    font-size: 12px;
  }
}
