.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* Обмеження для великих екранів */
  margin: 0 auto;
  padding: 20px 0;
}

.gallery-grid {
  display: grid;
  /* 2.1. Базовий (повний екран): 2 рядки, 3 стовпчики (3x2) */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  width: 100%;
  padding: 0 10px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid olive;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

.image-wrapper {
  position: relative; 
  height: 250px; 
  width: 100%;
}

.image-wrapper img:hover{
  transform: scale(1.05);
}

.gallery-item-text {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

/* 2.2. Адаптивність: 3 рядки, 2 стовпчики (@media max-width: 900px) */
@media (max-width: 900px) {
  .gallery-grid {
    /* 3 рядки, 2 стовпчики (2x3) */
    grid-template-columns: repeat(2, 1fr);
  }
  .image-wrapper {
    height: 150px;
  }
}

.nav-button {
  background: none;
  border: none;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  transition: opacity 0.3s;
}

.nav-button:disabled {
  visibility: hidden;
  /* opacity: 0.3;
  cursor: default; */
}

.nav-button:not(:disabled):hover {
  color: olive;
}