.contact {
    margin: 60px auto 100px ;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-col {
    flex-basis: 48%;
    color: #b0b0b0;
}

.contact-col h3 {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}

.contact-col ul li{
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.icon {
    margin-right: 10px;
}

.contact form input, .contact form textarea {
    display: block;
    width: 100%;
    background: #65623c;
    color: white;
    padding: 15px;
    border: 0;
    outline: 0;
    margin: 5px 0 35px 0;
    resize: none;
    border-radius: 5px;
}

.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 14px;
  color: rgb(217, 209, 209);
}

@media (max-width: 700px) {
    .contact {
        display: block;
    }
   .contact-col {
       padding: 20px;
   }   

}